
.service-title{
  text-align: center;
  font-size: 40px;
  color: tomato;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
  grid-gap: 40px;
}

/* Make services responsive */
@media only screen and (max-width:576px) {
  .services-container{
    grid-template-columns: repeat(1, 1fr);
  }
  
}
@media only screen and (main-width:577px) and (max-width:992px) {
  .services-container{
    grid-template-columns: 2, 1fr;
  }
  
}